body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/732/208/small/scene-with-zoo-entrance-in-forest-background-vector.jpg");
}
blockquote{
     color:mintcream;
     font-size:20px;
 }
h1{
    color:greenyellow;
    font-size:20px;

}
p{
    color:mintcream;
    font-size: 20px;
}
h2{
    color:greenyellow;
    font-size:20px;}
h3{
    color: mintcream;
    font-size:20px;}
